@import "lib/settings";
@import "lib/fonts";
@import "lib/general";
@import "lib/grid";

$maxWidth: 75rem;

body {
  background: #E0E6EE;
  padding: 0 1rem;
}

main {
  margin: auto;
  max-width: $maxWidth;
}

.Header {
  max-width: $maxWidth;
  margin: auto;
  position: relative;
}

.Header-navNetwork {
  position: fixed;
  transform: scale(0.75);
  top: .5rem;
  left: 4rem;
  z-index: 5;
  opacity: 0;
  @include transition(all .6s);
  & li {
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
  }
  & a:hover g {
    fill: #FFCA03
  }
  @include respond-to(middle) {
    display: block;
    left: calc(50% - 2.5rem);
    opacity: 1;
    position: absolute;
  }
  @include respond-to(large) {
    display: block;
    left: calc(50% - 3rem);
  }

}

.Header-right {
  position: absolute;
  right: 0;
  top: .5rem;
  display: none;
  @include respond-to(middle) {
    display: block;
  }
  & input {
    background: rgba(255, 255, 255, .4);
    border: none;
    padding: .375rem 0 .375rem 2.5rem;
    max-width: 16rem;
    width: 16rem;
    font-size: .875rem;
    @include respond-to(middle) {
      max-width: 11rem;
    }
    @include respond-to(large) {
      max-width: 16rem;
    }
  }
  & button {
    position: absolute;
    top: .5rem;
    left: .25rem;
    @include placeholder {
      color: red
    }
  }
  form {
    display: inline-block;
    vertical-align: middle;
  }
  a {
    color: white;
    font-weight: 700;
    &.active {
      color: red;
      background: #fff;
      padding: .375rem .1875rem;
      width: 5rem;
      display: inline-block;
    }
  }
}

.News {
  max-width: 63.75rem;
  margin: 2rem auto;
  & li {
    max-height: 340px;
    background: #EE2E6A;
    position: relative;
    margin: auto;
    height: 320px;
    max-width: 320px;
    @include respond-to(middle){
      height: auto;
      max-width: inherit;
      margin: inherit;
    }
  }
  & span {
    position: absolute;
    bottom: 0;
    left: 51%;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    z-index: 1;
    @include respond-to(middle) {
      bottom: 1.25rem;
    }
  }
  & h2 {
    font-size: 0.85rem;
    font-weight: 600;
    max-width: 15rem;
    margin-right: 1rem;
    text-align: right;
    line-height: 1.25em;
    color: #fff;
    @include respond-to(middle) {
      font-size: 1.25rem;
    }
  }

}

.Portfolio {
  max-width: 60rem;
  margin: auto;
  & a {
    height: 100%;
    width: 100%;
  }
  & img {
    width: 100%;
    height: 100%;
  }
  & li {
    position: relative;
  }

  & span {
    position: absolute;
    bottom: 2rem;
    left: 51%;
    color: #F8CA33;
    font-size: 1.5rem;
    font-weight: 400;
    z-index: 1;
  }
}

.menu-menuheader-container {
  padding: 6rem 1.5rem 2rem;
  max-width: 72rem;
  position: fixed;
  top: 0;
  left: 0;
  background: #F8CA33;
  z-index: 2;
  @include transform(translateX(-17rem));
  @include transition(all .4s);
  @include respond-to(middle) {
    @include transform(translateX(0));
    margin: 1.5rem auto;
    position: static;
    padding: 0;
    background: transparent;
  }
  & li {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: .5rem;
    padding: .25rem 0;
    @include respond-to(middle) {
      display: inline-block;
      padding: 0;
    }
  }
  & a {
    color: #231F20;
    &:hover {
      color: #EE2F59;
    }
  }
}

.current-menu-item a {
  color: #EE2F59;
  padding-left: 1rem;
  border-bottom: 1px solid;
  line-height: 0.75em;
  display: inline-block;
}

.Contact {
  & .wpcf7 {
    text-align: right;
  }
  & form {
    color: #EE2F59;
    font-weight: 700;
    margin: 6rem 0;
  }
  & p {
    margin: .5rem;
  }
  & label {
    padding: .75rem 0 0 0;
    width: 10rem;
    font-size: 1.25rem;
    line-height: 15px;
    display: inline-block;
    border-bottom: 1px solid;
  }
  & input, & textarea {
    background: rgba(0, 0, 0, 0);
    border: 1px #0AB7BF solid;
    padding: .25rem;
    width: 35rem;
    margin-left: 1rem;
    vertical-align: top;
    font-weight: normal;
    color: #2f2f2f;
    padding: .5rem;
  }
  & input[type='submit'] {
    background: #EE2F59;
    color: #fff;
    border: none;
  }
  & textarea {
    height: 10rem;
  }
}

.Single {
  max-width: 60rem;
  margin: auto;
  text-align: justify;
  & iframe {
    width: 100%;
    height: 25rem;
    margin: 2rem 0 3rem;
  }
  & ul {
    text-align: right;
  }
  & li {
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
    &:nth-child(4) {
      margin-right: .25rem;
    }
  }
  h1 {
    font-size: 2rem;
    color: #EE2E6A;
    font-weight: 400;
  }

}

.Footer {
  max-width: $maxWidth;
  border-top: .25rem solid #07A4B3;
  padding: 0 2.5rem 1rem;
  margin: 4rem auto 0;
  & figure {
    padding: 0 1rem;
    max-width: 11rem;
    margin: .5rem auto;
    @include respond-to(middle) {
      max-width: 11rem;
    }
    &:nth-child(2) {
      padding: 0 2rem;
      margin: .5rem auto;
    }
  }
  & div {
    text-align: center;
    @include respond-to(middle) {
      text-align: right;
    }
  }
  & svg {
    max-width: 3rem;
  }
}

#bwg_container1_0 #bwg_container2_0 .bwg_standart_thumb_spun1_0 {
  margin: 0 !important;
}

.Languages {
  position: absolute;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  top: 3.5rem;
  & a {
    color: #231F20;
  }
  @include respond-to(middle) {
    display: none;
  }
}

.buttonNav {
  background: #f8ca33;
  position: fixed;
  z-index: 4;
  top: .5rem;
  left: .5rem;
  width: 2.625rem;
  cursor: pointer;
  & span {
    margin: .5rem auto;
    background: #fff;
    display: block;
    width: 55%;
    height: .0625em;
    @include transition(all .4s)
  }

  @include respond-to(middle) {
    display: none;
  }
}

.open .buttonNav span:first-child {
  @include transform(translateY(8px) rotate(45deg));
}

.open .buttonNav span:last-child {
  @include transform(translateY(-10px) rotate(-45deg));
}

.open .buttonNav span:nth-child(2) {
  opacity: 0;
}

.open .menu-menuheader-container {
  @include transform(translateX(0));
}

.open .Header-navNetwork {
  opacity: 1;
}